name: Build Cavian VCV Rack Plugin

on:
  workflow_dispatch:

jobs:
  build:
    strategy:
      matrix:
        include:
          - os: windows-latest
            platform: win-x64
          - os: ubuntu-latest
            platform: lin-x64
          - os: macos-15-intel
            platform: mac-x64
          - os: macos-latest
            platform: mac-arm64


    runs-on: ${{ matrix.os }}

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Set up dependencies (Linux)
        if: matrix.platform == 'linux'
        run: |
          sudo apt-get update
          sudo apt-get install -y \
            libgl-dev \
            libx11-dev \
            libxrandr-dev \
            libxinerama-dev \
            libxcursor-dev \
            libxi-dev \
            libasound2-dev

      - name: Download Rack SDK
        run: |
          curl -fL \
            -H "User-Agent: GitHubActions" \
            https://vcvrack.com/downloads/Rack-SDK-2.6.6-${{ matrix.platform }}.zip \
            -o sdk.zip
          unzip sdk.zip

      - name: Verify SDK contents
        run: |
          ls -l sdk.zip
          ls Rack-SDK
          test -f Rack-SDK/plugin.mk

      - name: Build plugin
        run: |
          make RACK_DIR=Rack-SDK

      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: ${{ matrix.platform }}-plugin
          path: dist/*.vcvplugin
