name: Manual Release Upload

on:
  workflow_dispatch:
    inputs:
      tag_name:
        description: 'Tag'
        required: true

jobs:
  build:
    strategy:
      matrix:
        include:
          - os: windows-latest
            platform: win-x64
          - os: ubuntu-latest
            platform: lin-x64
          - os: macos-15-intel
            platform: mac-x64
          - os: macos-latest
            platform: mac-arm64
    runs-on: ${{ matrix.os }}
    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Set up MSYS2 (Windows)
        if: matrix.platform == 'win-x64'
        uses: msys2/setup-msys2@v2
        with:
          msystem: MINGW64
          update: true
          install: base-devel mingw-w64-x86_64-toolchain jq

      - name: Set up dependencies (Linux)
        if: matrix.platform == 'lin-x64'
        run: |
          sudo apt-get update
          sudo apt-get install -y libgl-dev libx11-dev libxrandr-dev libxinerama-dev libxcursor-dev libxi-dev libasound2-dev

      - name: Build
        shell: ${{ matrix.platform == 'win-x64' && 'msys2 {0}' || 'bash' }}
        run: |
          curl -fL https://vcvrack.com/downloads/Rack-SDK-2.6.6-${{ matrix.platform }}.zip -o sdk.zip
          unzip sdk.zip
          make dist RACK_DIR=Rack-SDK

      - name: Upload Artifacts
        uses: actions/upload-artifact@v4
        with:
          name: ${{ matrix.platform }}-binaries
          path: dist/*.vcvplugin

  publish:
    needs: build
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - name: Download all artifacts
        uses: actions/download-artifact@v4
        with:
          path: binaries

      - name: Upload to Existing Release
        uses: softprops/action-gh-release@v2
        with:
          # This uses the tag name you typed in when starting the workflow
          tag_name: ${{ github.event.inputs.tag_name }}
          files: binaries/**/*.vcvplugin
          # This tells it: "Don't create a new one, just add to the existing one"
          append_body: true
